<footer>
  <mat-sidenav-container>
    <span>
      <a routerLink="/sitemap">Plan du site</a>
    </span>
    |
    <span>
      <a routerLink="/privacy-policy">Mentions légales</a>
    </span>
    |
    <span>
      <a href="https://api.anclarma.fr/api">API</a>
    </span>
    |
    <span>
      <a href="https://github.com/alisterd51/blog-angular">
        <ng-icon name="bootstrapGithub"></ng-icon>
        Source
      </a>
    </span>
    |
    <span>
      © 2024 anclarma
    </span>
  </mat-sidenav-container>
</footer>
