<mat-toolbar color="primary">
  <button mat-icon-button routerLink="/">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-button [matMenuTriggerFor]="sevicesMenu">Services</button>
  <button mat-button [matMenuTriggerFor]="pagesMenu">Pages</button>
  <button mat-button [matMenuTriggerFor]="favoriteSitesMenu">Mes sites favoris</button>
</mat-toolbar>

<mat-menu #sevicesMenu="matMenu">
  <a mat-menu-item href="https://game.anclarma.fr">emulatorjs</a>
  <a mat-menu-item href="https://gitea.anclarma.fr">gitea</a>
  <a mat-menu-item href="https://plex.anclarma.fr">plex</a>
  <a mat-menu-item href="https://wordpress.anclarma.fr">wordpress</a>
</mat-menu>

<mat-menu #pagesMenu="matMenu">
  <a mat-menu-item routerLink="/article">Article</a>
</mat-menu>

<mat-menu #favoriteSitesMenu="matMenu">
  <a mat-menu-item href="https://www.jonathandupre.fr/">La taverne de John-John</a>
  <a mat-menu-item href="https://www.commitstrip.com/">CommitStrip</a>
  <a mat-menu-item href="https://lesjoiesducode.fr/">Les Joies du Code</a>
</mat-menu>
